<div class="h4">Weather in {{CityCountry}}</div>
<div>
  <i id="waves"></i>
  <span class="h4"> {{CurrentWeather.temperature}} º{{symbolCelciusFar}}</span>
</div>
<table class="table table-bordered table-striped table-hover" id="current-table">
  <tbody>
    <tr>
      <td>Wind</td>
      <td>{{CurrentWeather.windspeed}} {{symbolMeterMiles}}, {{CurrentWeather.winddir}} ( {{CurrentWeather.winddeg}} )</td>
    </tr>
    <tr>
      <td>Cloudiness</td>
      <td>{{CurrentWeather.cloudiness}}</td>
    </tr>
    <tr>
      <td>Pressure</td>
      <td>{{CurrentWeather.pressure}} hpa</td>
    </tr>
    <tr>
      <td>Humidity</td>
      <td>{{CurrentWeather.humidity}} % </td>
    </tr>
    <tr>
      <td>Sunrise</td>
      <td>{{CurrentWeather.sunrise}}</td>
    </tr>
    <tr>
      <td>Sunset</td>
      <td>{{CurrentWeather.sunset}}</td>
    </tr>
    <tr>
      <td>Geo Codes</td>
      <td id="geo-codes-color">[{{CurrentWeather.lon}},{{CurrentWeather.lat}}]</td>
    </tr>
  </tbody>
</table>