.user-info {
    height: inherit;
    /* background-image: url("../../assets/login.png");
    background-repeat: no-repeat */
    background-color: #fffafac7
}

.h2 {
    font-family: cursive
}

.row {
    margin: 0px;
    padding: 0px
}

#dummy-row {
    height: 20vh;
}

.input-group {
    width: 400px
}

.btn {
    width: 200px
}

.form-inline, .btn {
    margin-top: 20px
}

#api-call {
    margin-top: 30px;
    width: 400px
}

#current-table {
    width: 400px
}